/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* Style Guide */

h1 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #000000;
}

h2 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: #1544C1;
}

h3 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #1544C1;
}

h4 {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #1544C1;
}

body {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    position: relative;
    height: 100%;
}

/* Navigation Menu CSS */

nav {
    /* position: fixed; */
    width: 100%;
    padding: 19px 0;
    background-color: #FFF;
    font-family: 'Space Grotesk';
    transition: all 0.4s ease;
    z-index: 998;
}

/* nav.sticky {
    padding: 13px 0;
    background: #1544C1;
} */

nav .navbar {
    width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo-box {
    height: 72.69px;
    width: 177px;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

nav .navbar .logo a {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #1544C1;
}

/* nav.sticky .navbar .logo a {
    color: #FFF;
} */

nav .navbar .menu {
    display: flex;
    align-items: center;
}

nav .navbar .menu li {
    margin: 0 16px;
    list-style: none;
}

.navbar .menu li a {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
}

.navbar .menu li a:hover {
    color: #1544C1;
    cursor: pointer;
}

nav.sticky .navbar .menu li a {
    color: #FFF;
}

nav.sticky .navbar .menu li a:hover {
    color: #0E2431;
}

.navbar .media-icons a {
    font-size: 18px;
    margin: 0 6px;
    color: #4A5B6E;
}

nav.sticky .navbar .media-icons a {
    color: #FFF;
}

nav .navbar .menu .button button {
    font-family: 'Space Grotesk';
    outline: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 16px;
    background: #1544C1;
    border: 2px solid transparent;
    border-radius: 32px;
    transition: all 0.4s ease;
}

nav .navbar .menu .button button:hover {
    color: #4070F4;
    background-color: #FFF;
    border-color: #4070F4;
    cursor: pointer;
}

/* Side Navigation Menu Button CSS */

nav .menu-button, .navbar .cancel-button {
    position: absolute;
    color: #FFF;
    font-size: 35px;
    right: 40px;
    top: 35px;
    display: none;
    cursor: pointer;
}

nav .phone-button {
    position: absolute;
    color: #1544C1;
    font-size: 32px;
    right: 110px;
    top: 37px;
    display: none;
    cursor: pointer;
}

nav .menu-button {
    color: #1544C1;
}

nav.sticky .menu-button {
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
}

/* Banner Section CSS */

.banner {
    height: 41px;
    width: 100%;
    padding: 0px;
    background-color: #1544C1;
    font-family: 'Space Grotesk';
    display: flex;
    justify-content: center;
    align-content: center;
}

.banner .banner-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-content .banner-text {
    display: flex;
    color: #FFF;
}

/* Home Section CSS */

.home {
    height: 467px;
    width: 100%;
    padding: 0;
    /* background: url("images/computer.jpeg") no-repeat; */
    background: #FFF;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Space Grotesk';
}

.home .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .text {
    text-align: center;
    max-width: 796px;
    width: 796px;
    margin-top: 59px;
}

.home .text .text-two {
    margin-top: 36px;
}

.home .text .text-three h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #1544C1;
}

.home .buttons {
    margin-top: 57px;
    display: flex;
}

.home .buttons button {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Space Grotesk';
    width: 200px;
    padding: 5px;
    margin: 0 15px;
    background: transparent;
    border: 1px solid transparent;
    border-color: #1544C1;
    border-radius: 32px;
    transition: all 0.3s ease;
}

.home .buttons input {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Space Grotesk';
    width: 200px;
    padding: 5px;
    margin: 0 15px;
    background: transparent;
    border: 1px solid transparent;
    border-color: #1544C1;
    border-radius: 32px;
    transition: all 0.3s ease;
}

.home .buttons .get-started button {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Space Grotesk';
    width: 200px;
    padding: 5px;
    margin: 0 15px;
    background-color: #1544C1;
    border: 1px solid transparent;
    border-color: #1544C1;
    border-radius: 32px;
    transition: all 0.4s ease;
}

.home .buttons .get-started input {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Space Grotesk';
    width: 200px;
    padding: 5px;
    margin: 0 15px;
    background-color: #1544C1;
    border: 1px solid transparent;
    border-color: #1544C1;
    border-radius: 32px;
    transition: all 0.4s ease;
}

.home .buttons button:hover {
    color: #FFF;
    background-color: #1544C1;
    border-color: #1544C1;
    cursor: pointer;
}

.home .buttons input:hover {
    color: #FFF;
    background-color: #1544C1;
    border-color: #1544C1;
    cursor: pointer;
}

.home .buttons .get-started button:hover {
    color: #1544C1;
    background-color: #FFF;
    border-color: #1544C1;
    cursor: pointer;
}

.home .buttons .get-started input:hover {
    color: #1544C1;
    background-color: #FFF;
    border-color: #1544C1;
    cursor: pointer;
}

/* Client Testimonies Section CSS */

.container {
    height: 337px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1544C1;
}

.testimonial {
    position: relative;
    height: 337px;
    max-width: 1280px;
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 15% 1%;
    border-radius: 50px;
}

.testimonial .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    height: 98%;
    width: 100%;
}

.slide p {
    margin-top: 30px;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.details .job {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}

/* Swiper Button CSS */

.nav-btn {
    border-radius: 50%;
    background-color: #FFF;
    transition: 0.2s;
}

.nav-btn::after {
    transform: translateX();
    color: #1544C1;
}

.swiper-pagination {
    margin-bottom: 10px;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media screen and (max-width: 768px) {
.slide p {
    padding: 0 20px;
}
.nav-btn {
    display: none;
}
}

/* Client Logos Section CSS */

.client-logos {
    /* height: 270px; */
    padding-top: 33px;
    padding-bottom: 94.5px;
    background: #F1F1F1;
}

.client-logos .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-logos .title {
    /* padding-top: 33px; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.client-logos .title span {
    font-size: 32px;
    font-weight: 700px;
    line-height: 40.83px;
    color: #6D6D6D;
    position: relative;
}

.client-logos .logos {
    margin-top: 40px;
    height: 60px;
    width: 796px;
    display: flex;
    justify-content: space-between;
}

.client-logos .logos i {
    font-size: 80px;
}

/* Services Section CSS */

.services {
    /* height: 700px; */
    background-color: #FFF;
    padding-top: 77px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 123px;
}

.services .boxes {
    /* margin-top: 77px; */
    display: flex;
    justify-content: center;
}

.services .boxes .box {
    /* height: 230px; */
    width: 413px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services .topic {
    margin-bottom: 15px;
}

.services ul {
    margin-left: 25px;
}

.services li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.42px;
}

.services .pictures {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.services img {
    height: 277px;
    width: 413px;
    object-fit: cover;
    /* margin: 0 10px; */
}

/* Footer CSS */

footer {
    padding: 51px 66px 54px 66px;
    /* height: 350px; */
    background-color: #1544C1;
    color: #FFF;
}

footer .content {
    display: flex;
    justify-content: space-between;
}

footer h2, h4{
    color: #FFF;
}

footer .contact {
    width: 320px;
}

footer .contact-info h4:hover {
    cursor: pointer;
}

footer .line {
    margin-top: 15px;
    margin-bottom: 30px;
}

footer .left {
    margin-right: 22px;
}

footer .message {
    display: flex;
    justify-content: space-evenly;
}

footer input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

footer textarea {
    margin-top: 16px;
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    resize: none;
}

footer .right input {
    height: 34px;
    width: 109px;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 25px;
    color: #FFF;
    transition: all 0.3s ease;
}

footer .right input:hover {
    background-color: #FFF;
    cursor: pointer;
    color: #1544C1;
}

/* Scroll To Top Button CSS */

.scroll-button i {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 12px;
    background: #1544C1;
    color: #FFF;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/* Responsive Media Query CSS */

/* Laptops/Desktops */
@media screen and (max-width: 1350px) {

    /* Services Section */
    .services {
        padding-top: 33px;
    }
    
    .services .boxes .box {
        width: 300px;
    }

    .services li {
        font-size: 14px;
    }

    footer .message {
        display: none;
    }
}

/* Landscape Tablets */
@media screen and (max-width: 992px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: #040e29;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
        z-index: 1000;
    }

    nav .navbar.active .menu {
        left: 0;
    }

    .navbar .menu li a {
        display: block;
        margin: 25px 0;
        font-size: 23px;
        color: #FFF;
    }

    .navbar .menu .button button {
        display: none;
    }

    /* nav.sticky .navbar .menu li a:hover {
        color:  #4A5B6E;
    } */

    .navbar .media-icons a {
        display: none;
    }

    nav .menu-button, nav .phone-button, .navbar .cancel-button {
        display: block;
    }

    /* Navbar */
    nav .navbar .logo-box {
        width: 111px;
        height: 40px;
        margin-left: 10px;
    }

    nav .navbar .logo a {
        font-size: 18px;
        line-height: 23px;
        font-weight: 700;
    }

    nav .phone-button {
        height: 23.41px;
        width: 23.41px;
        font-size: 23px; 
        top: 21px;
        right: 70px;
    }

    nav .menu-button {
        font-size: 23px;
        top: 20px;
        right: 25px;
    }

    .banner {
        display: none;
    }

    .home {
        height: auto;
        margin-bottom: 30px;
    }

    .home .text {
        width: 390px;
        margin-top: 21px;
    }

    /* Home Section */
    .home .text-one h1 {
        height: 69px;
        width: 366px;
        font-size: 27px;
        line-height: 35px;
        margin: 0 12px;
    }

    .home .text-two, .home .text-three {
        display: none;
    }

    .home .buttons {
        margin-top: 25px;
        width: 341px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .buttons input {
        margin: 8px 15px;
        width: 100%;
    }

    .home .buttons .get-started {
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home .buttons .get-started input {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Testimonial Section */
    .swiper-pagination {
        display: none;
    }

    /* Client Logos Section */
    .client-logos .logos {
        margin-top: 25px;
        height: 60px;
        width: 600px;
        display: flex;
        justify-content: space-evenly;
    }

    /* Services Section */
    .services {
        /* height: 1719px; */
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 61px;
    }

    .services .boxes {
        /* margin-top: 32px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services .boxes .box {
        margin-top: 32px;
        margin-right: 0;
        margin-left: 0;
        /* height: 410px; */
        width: 350px;
    }

    .services .pictures {
        margin-top: 32px;
        justify-content: flex-start;
        overflow: hidden;
    }

    .services img {
        height: 180px;
        width: 350px;
    }

    /* Footer */
    footer {
        padding: 50px 20px 77px 21px;
    }

    footer h2 {
        font-size: 28px;
        line-height: 35px;
    }

    footer h4 {
        font-size: 22px;
    }

    footer .contact {
        width: 349px;
    }
}

/* Portrait Tablets/Large Phones */
@media screen and (max-width: 768px) {

    /* Navbar */
    nav .navbar .logo-box {
        width: 111px;
        height: 40px;
        margin-left: 10px;
    }

    nav .navbar .logo a {
        font-size: 18px;
        line-height: 23px;
        font-weight: 700;
    }

    nav .phone-button {
        height: 23.41px;
        width: 23.41px;
        font-size: 23px; 
        top: 21px;
        right: 70px;
    }

    nav .menu-button {
        font-size: 23px;
        top: 20px;
        right: 25px;
    }

    .banner {
        display: none;
    }

    .home {
        height: auto;
        margin-bottom: 30px;
    }

    .home .text {
        width: 390px;
        margin-top: 21px;
    }

    /* Home Section */
    .home .text-one h1 {
        height: 69px;
        width: 366px;
        font-size: 27px;
        line-height: 35px;
        margin: 0 12px;
    }

    .home .text-two, .home .text-three {
        display: none;
    }

    .home .buttons {
        margin-top: 25px;
        width: 341px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .buttons input {
        margin: 8px 15px;
        width: 100%;
    }

    .home .buttons .get-started {
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home .buttons .get-started input {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Testimonial Section */
    .container {
        height: 199px;
    }

    .testimonial {
        height: 199px;
    }

    .testimonial .image {
        height: 57px;
        width: 57px;
        object-fit: cover;
        object-position: 15% 1%;
        border-radius: 50px;
    }

    .testimonial .slide {
        row-gap: 5px;
    }

    .slide p {
        margin-top: 15px;
        padding: 0;
        width: 297px;
        font-size: 12px;
        line-height: 15px;
    }

    .slide .details {
        flex-direction: row;
    }

    .slide span {
        margin: 0 3px;
    }

    .details .name {
        font-size: 12px;
    }

    .details .job {
        font-size: 12px;
    }

    .swiper-pagination {
        display: none;
    }

    /* Client Logos Section */
    .client-logos {
        /* height: 183px; */
        padding-top: 22px;
        padding-bottom: 53px;
    }

    .client-logos .title span {
        font-size: 28px;
        line-height: 35px;
    }

    .client-logos .logos {
        margin-top: 25px;
        height: 60px;
        width: 390px;
        display: flex;
        justify-content: space-evenly;
    }

    .client-logos .logos i {
        font-size: 60px;
    }

    /* Services Section */
    .services {
        /* height: 1719px; */
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 61px;
    }

    .services .boxes {
        /* margin-top: 32px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services .boxes .box {
        margin-top: 32px;
        margin-right: 0;
        margin-left: 0;
        /* height: 410px; */
        width: 350px;
    }

    .services .pictures {
        margin-top: 32px;
        justify-content: flex-start;
        overflow: hidden;
    }

    .services img {
        height: 180px;
        width: 350px;
    }

    /* Footer */
    footer {
        padding: 50px 20px 77px 21px;
    }

    footer h2 {
        font-size: 28px;
        line-height: 35px;
    }

    footer h4 {
        font-size: 22px;
    }

    footer .contact {
        width: 349px;
    }
}

/* Phones */
@media screen and (max-width: 600px) {

    /* Navbar */
    nav .navbar .logo-box {
        width: 111px;
        height: 40px;
        margin-left: 10px;
    }

    nav .navbar .logo a {
        font-size: 18px;
        line-height: 23px;
        font-weight: 700;
    }

    nav .phone-button {
        height: 23.41px;
        width: 23.41px;
        font-size: 23px; 
        top: 21px;
        right: 70px;
    }

    nav .menu-button {
        font-size: 23px;
        top: 20px;
        right: 25px;
    }

    .banner {
        display: none;
    }

    .home {
        height: auto;
        margin-bottom: 30px;
    }

    .home .text {
        width: 100%;
        margin-top: 21px;
        display: flex;
        justify-content: center;
    }

    /* Home Section */
    .home .text-one h1 {
        height: 69px;
        width: 366px;
        font-size: 27px;
        line-height: 35px;
        margin: 0;
    }

    .home .text-two, .home .text-three {
        display: none;
    }

    .home .buttons {
        margin-top: 25px;
        width: 341px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .buttons input {
        margin: 8px 15px;
        width: 100%;
    }

    .home .buttons .get-started {
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home .buttons .get-started input {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Testimonial Section */
    .container {
        height: 199px;
    }

    .testimonial {
        height: 199px;
    }

    .testimonial .image {
        height: 57px;
        width: 57px;
        object-fit: cover;
        object-position: 15% 1%;
        border-radius: 50px;
    }

    .testimonial .slide {
        row-gap: 5px;
    }

    .slide p {
        margin-top: 15px;
        padding: 0;
        width: 297px;
        font-size: 12px;
        line-height: 15px;
    }

    .slide .details {
        flex-direction: row;
    }

    .slide span {
        margin: 0 3px;
    }

    .details .name {
        font-size: 12px;
    }

    .details .job {
        font-size: 12px;
    }

    .swiper-pagination {
        display: none;
    }

    /* Client Logos Section */
    .client-logos .title span {
        font-size: 28px;
        line-height: 35px;
    }

    .client-logos .logos {
        margin-top: 25px;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .client-logos .logos i {
        font-size: 60px;
    }

    /* Services Section */
    .services {
        /* height: 1719px; */
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 61px;
    }

    .services .boxes {
        /* margin-top: 32px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services .boxes .box {
        margin-top: 32px;
        margin-right: 0;
        margin-left: 0;
        /* height: 410px; */
        width: 350px;
    }

    .services .pictures {
        margin-top: 32px;
        justify-content: flex-start;
        overflow: hidden;
    }

    .services img {
        height: 180px;
        width: 350px;
    }

    /* Footer */
    footer {
        padding: 50px 20px 77px 21px;
    }

    footer h2 {
        font-size: 28px;
        line-height: 35px;
    }

    footer h4 {
        font-size: 22px;
    }

    footer .contact {
        width: 349px;
    }
}